<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miya.mapper.SSeckillGoodsMapper">

    <resultMap id="BaseResultMap" type="com.miya.entity.model.SSeckillGoods">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="sGoodsId" column="s_goods_id" jdbcType="BIGINT"/>
            <result property="seckillPrice" column="seckill_price" jdbcType="DECIMAL"/>
            <result property="stockCount" column="stock_count" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,s_goods_id,seckill_price,
        stock_count,start_time,end_time,
        del_flag
    </sql>

    <update id="reduceStockCount">
        update s_seckill_goods set stock_count = stock_count-1 where id = #{seckillGoodsId} and stock_count>0
    </update>
</mapper>
