<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE generatorConfiguration        PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">



<generatorConfiguration>
    <!-- 指定连接数据库的 JDBC 驱动包所在位置，指定到你本机的完整路径 -->
    <classPathEntry location="/Users/zhangchi/.m2/repository/org/springframework/boot/spring-boot-starter-jdbc/2.5.3/spring-boot-starter-jdbc-2.5.3.jar"/>

    <!-- 配置 table 表信息内容体，targetRuntime 指定采用 MyBatis3 的版本 -->
    <context id="tables" targetRuntime="MyBatis3">

        <!-- 抑制生成注释，由于生成的注释都是英文的，可以不让它生成 -->
        <commentGenerator type="com.miya.conf.MyCommentGenerator">
<!--            <property name="suppressAllComments" value="true"/>-->
        </commentGenerator>

        <!--############################################ 1. 配置数据库连接信息 ##########################################-->
<!--        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"-->
<!--                        connectionURL="jdbc:mysql://localhost:3306/leqee"-->
<!--                        userId="root"-->
<!--                        password="12345678">-->
<!--        </jdbcConnection>-->

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://rm-bp1kxg882g197xnnvxo.mysql.rds.aliyuncs.com:3306/hostile"
                        userId="pd"
                        password="*D29^%koxpntgcF!">
        </jdbcConnection>


        <!--############################################ 2. 配置保存路径 ##########################################-->


        <!-- 相对位置路径设置 -->
        <!-- model 类-->
<!--        <javaModelGenerator targetPackage="generator.out.model" targetProject="src/main/resources">-->
<!--            <property name="enableSubPackages" value="false"/>-->
<!--            <property name="trimStrings" value="false"/>-->
<!--        </javaModelGenerator>-->

        <!-- Mapper.xml 文件-->
<!--        <sqlMapGenerator targetPackage="generator.out.mappers" targetProject="src/main/resources">-->
<!--            <property name="enableSubPackages" value="false"/>-->
<!--        </sqlMapGenerator>-->

        <!-- Mapper 接口类文件-->
<!--        <javaClientGenerator type="XMLMAPPER" targetPackage="generator.out.dao" targetProject="src/main/resources">-->
<!--            <property name="enableSubPackages" value="false"/>-->
<!--        </javaClientGenerator>-->



        <!-- 绝对位置 -->
        <!-- model 类-->
        <javaModelGenerator targetPackage="out.model" targetProject="/Users/zhangchi/Desktop">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>

        <!-- Mapper.xml 文件-->
        <sqlMapGenerator targetPackage="out.mappers" targetProject="/Users/zhangchi/Desktop">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- Mapper 接口类文件-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="out.dao" targetProject="/Users/zhangchi/Desktop">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>


        <!--############################################ 3. 配置表信息 ##########################################-->

        <!-- 数据库表名及对应的 Java 模型类名 -->
        <table tableName="thousand_psd_waterfall_zip" domainObjectName="ThousandPsdWaterfallZip"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>







    </context>
</generatorConfiguration>